body, html {
    font-size: large;
    font-family: monospace;
    font-weight: normal;
    color: white;
}

body {
    background-color: #000;
}

a, a:visited {
    color: #9c9c9c;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #63a4ff;
    border-bottom: 2px solid #63a4ff;
    text-shadow: 0 0 3px #63a4ff;
}


ul {
    list-style-type: none;
    padding-left: 0;
    columns: 2;
}

li {
    position: relative;
    padding-left: 1.5em;
    line-height: 1.5;
}

li::before {
    content: '>';
    position: absolute;
    left: 0;
    color: #9c9c9c;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #9c9c9c;
    text-transform: uppercase;
    border-bottom: 1px solid #63a4ff;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

#main {
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    position: relative;
    overflow: hidden;
    width: fit-content;
}

#ascii-box {
    position: absolute;
    top: 0;
    left: 7px;
    white-space: pre;
    pointer-events: none;
}

@media only screen and (min-width: 600px) {
    div#main {
        max-width: 55%;
    }
}

@media only screen and (min-width: 768px) {
    div#main {
        max-width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    div#main {
        max-width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    div#main {
        max-width: 35%;
    }
}

p#name {
    font-size: x-large;
}

/* .wrap {
    display: block;
    position: relative;
    overflow-wrap: break-word;
    max-width: 40%;
}

.wrap p {
    white-space: pre-wrap;
    position: relative;
} */

noscript {
    display: inline;
    font-size: inherit; /* Match the surrounding text size */
    margin: 0;         /* Remove any margin */
    padding: 0;        /* Remove any padding */
    color: inherit;
}

#description-container {
    display: block;
    position: relative;
    overflow-wrap: break-word;
}

#description {
    margin-top: -0.5em;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    white-space: pre-wrap;
    position: relative;
}

.cursor {
    display: inline-block;
    width: 1ch;
    height: 1em;
    background-color: white;
    animation: blink 1s step-end infinite;
    position: fixed;
    transform: translateX(1ch);
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.char-measure {
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
}

#language-bar-container {
    width: 100%;
    height: min-content;
    font-family: monospace;
    margin-bottom: 2em;
}

.language-bar {
    margin-bottom: 5px;
    white-space: pre;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
  }

.rainbow {
animation: rainbow 7s linear infinite;
}
