body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    transition: background-color 1000ms linear;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

body {
    background-color: #6d6d6d;
}

#main {
    position: relative;
    top: 30%;
    transform: translateY(-15%);
    text-align: center;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: auto;
    gap: 10px;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 25px;
}

img {
    border-radius: 50%;
    cursor: pointer;
}

#name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: normal;
}

#descriptionHeader {
    margin-top: 5px;
}

#descriptionHeader > span {
    margin-bottom: 15px;
    font-weight: normal;
    border-bottom: dashed 1px white;
    user-select: none;
    cursor: pointer;
}

.card {
    flex: 0 1 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 1000ms linear;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}