body, html {
    background: black;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px #000;
    user-select: none;
    cursor: default;
}

img {
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 2px;
    margin-top: 2px;
    height: 27px;
    width: 27px;
    cursor: pointer;
}

.title {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: navajowhite;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.emptyRow {
    color: black;
    margin: 75%;
}

.pure-u-1-2 {
    background: black;
}